<footer class="md-footer">
  <div
    class="md-footer-meta"
    style="
      padding: 1rem 1.5rem;
      font-size: 0.85rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-top: 1px solid var(--md-default-fg-color--light);
    "
  >
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <strong>Zaphenath</strong> by
        <a href="https://astervia.tech" target="_blank">Astervia</a><br />
      </div>

      <div
        style="display: flex; gap: 1rem; flex-wrap: wrap; align-items: center;"
      >
        <a href="https://github.com/Astervia/zaphenath" target="_blank">GitHub</a>
        <a href="/support/plans">Donate</a>
        <a href="/support/consulting">Consulting</a>
        <a href="/support/faq">FAQ</a>
      </div>
    </div>
</footer>
